# server
PORT=3000
DATABASE_URL=postgres://dev:dev@db:5432/pages_dev     # local solution, change to NEON database url when will be deployed to production
LLM_API_KEY=REPLACE_ME
LLM_PROVIDER=REPLACE_ME                               # groq | together | fireworks
NODE_ENV=development